.login {
  height: 100vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login > .panel {
  width: 30rem;

}

.login .fab {
  right: 30rem;
  bottom: 30rem;
}
