header {
  padding: 15px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > .title {
  display: none;
}

header > .searchbox {
  flex:1;
}

header > #searchButton {
  display:none;
}

@media all and (max-width:960px) {

  header {
    justify-content: flex-start;
  }

  header > .title {
    display: flex;
    flex:1;
  }

  header > .searchbox {
    display: none;
  }

  header > #searchButton {
    display:flex;
  }
}
