
th {
  vertical-align: bottom;
}
.timeline-item {
  display: flex;
}

.formField {
  display:flex;
  flex-wrap: wrap;
}

.formField .icon {
  color : rgba(0, 0, 0, 0.8);
}

.formField .input-textfield {
  flex:1;
}

.inbox .fab {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}
