aside {
  padding: 15px;
}

nav {

}

.menu-item {
  display: flex;
  align-items: center;
  color: #FFF;
  height: 50px;
}

.menu-item > i {
  width:72px;
  padding: 16px;
}

.menu-item:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

.drawerButton {
  position:absolute;
  top:10px;
  left:10px;
}
