#menu {
  height:100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

#menu nav {
}

nav  h5 {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  font-weight: 400;
  height: 3.8rem;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #FFF;
  height: 4rem;
}

.menu-item > i {
  width:72px;
  padding: 16px;
}

.menu-item:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

.menu-item .selected {
  background-color: rgba(50, 50, 50, 0.5);
}

#menu-title {
  padding-left:16px;
  text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.mui-divider {
  background-color: rgba(150, 150, 150, 0.7);
  margin-top: 2px;
}

#menu-user {
  padding-top: 16px;
  padding-left:16px;
}

#menu-user > h5 {
  margin-top: 10px;
  margin-bottom: 0px;
}

#menu-user > h6 {
  margin-top: 0px;
  margin-bottom: 10px;
}

#menu-user #avatar {
  width:40px;
  height:40px;
  background: #FFF;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}



@media all and (max-width:1280px) {

	#header {
		font-size: 1rem;
	}

  nav {
    flex:1;
    background: #FFF;
    color: rgba(0, 0, 0, 0.8);
  }

  nav h5 {
    color: rgba(0, 0, 0,.54);
  }

  .menu-item {
    color: rgba(0, 0, 0, 0.8);
  }
}
