header {
  padding: 1.6rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
}

header > .title {
  display: flex;
  flex:1;
  align-items: center;
}

header > .title > #navButton {
  display:none;
}

header > .title > #icon {
  display:flex;
}

header > .title > .icon {
  color: rgba(0, 0, 0, 0.8);
  display:flex;
  align-items: center;
  justify-content: center;
}

header > .title  h3 {
  margin: 0px;
  padding-left: 2.4rem;
  font-size: 2rem;
  font-weight: normal;
}

header > .searchbox {
  flex:1;
}

header > #searchButton {
  display:none;
}

@media all and (max-width:1280px) {

  header {
    min-height: 7rem;
    background-color: inherit;
    color: inherit;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
  }

  header > .title > .icon {
    color: inherit;
  }

  header > .title > #navButton {
    display: block;
  }

  header > .title > #icon {
    display:none;
  }

  header > .searchbox {
    display: none;
  }

  header > #searchButton {
    display:flex;
  }
}
