.inbox {
  flex: 1;
  display: flex;
}

.inbox > .tabpanel {
  min-width: 38rem;
}

.inbox > .viewer {
  flex:1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.viewer .page {
  background-color: red;
}
