.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: solid 1px #DDD;
}

.list .fab {
  position: absolute;
  top: auto;
  right: auto;
  bottom:2rem;
  left: 52rem !important;
}

.list > ul {
  list-style: none;
  padding:0px;
}

.listitem {
  flex:1;
  min-height: 9rem;
  background-color: #FFF;
  border-bottom: solid 1px #DDD;

  display: flex;
  align-items: center;
  padding-left: 1.6rem;
}

.listitem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.listitem > div {
  flex:1;
  display:flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
}

.listitem .title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.8);
}

.listitem .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 1.6rem;
}
