.page {
  display: flex;
  flex-direction: column;
}

.page > header {
  min-height: 5.6rem;
  max-height: 5.6rem;
  color: #FFF;
  padding: 0.4rem 1.6rem 0.4rem 1.6rem;
  display: flex;
  align-items: center;;

  z-index: 1;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
}

.page > header #header-icon {
  display: none;
}

.page > header .title {
  flex:1;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 5.6rem;
  white-space: nowrap;
}

.page > main {
  flex:1;
  background-color: #EEE;
  display:flex;
  padding: 0.8rem;
  overflow: hidden;
}

@media (min-width: 1280px) {

.page > header {
  color:rgba(0, 0, 0, 0.8);
  background-color: #FFF;
}

.page > header #drawer-button {
  display:none;
}

.page > header #header-icon {
  display: flex;
}

}
