.tabpanel {
  display:flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
}

.tabbar {
  min-height: 5rem;
  background-color: #FFF;
  margin-bottom: 8px;
  display: flex;
}

.tab {
  flex:1;
}

.tabcontents {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabcontent {
  flex:1;
  display:flex;
  flex-direction: column;
}
