#layout {
  display: flex;
}

#layout > #drawer {
  height: 100vh;
  min-width: 250px;
}

.hidden {
  display:none
}

#layout > #container {
  flex: 1;
  height: 100vh;

  display: flex;
  flex-direction:column;
}

#layout > #toolbar {
  width:100px;
}

.page {
  display: flex;
  flex-direction: column;
  flex:1;
}

.page > header {
  display: flex;
  min-height: 115px;
}

.page > main {
  flex: 1;
  color: rgba(0,0,0,0.8);
  background-color: #FFF;
  padding: 15px;
  overflow-y: auto;
}

.fab {
  position: absolute;
  top: 80px;
  bottom: auto;
  right: 130px;
  padding-top: 8px;
}

@media all and (max-width:960px) {

  #drawer {
    position: absolute;
    left: -300px;
  }

  #toolbar {
    display:none;
    position: absolute;
    right: -150px;
  }

  .fab {
    position: absolute;
    top: auto;
    bottom: 16px;
    right: 30px;
    padding-top: 8px;
  }
}
