#layout {
  display: flex;
}

#layout > #drawerButton {
  display:none;
}

#layout > #drawer {
  height: 100vh;
  min-width: 250px;
}

#layout > #overlay {
  display:none;
}

.hidden {
  display:none
}

#layout > #container {
  flex: 1;
  height: 100vh;

  display: flex;
  flex-direction:column;
}

#layout > #toolbar {
  width:100px;
}

.page {
  display: flex;
  flex-direction: column;
  flex:1;
}

.page > header {
  display: flex;
  min-height: 115px;
}

.page > main {
  flex: 1;
  color: rgba(0,0,0,0.8);
  background-color: #FFF;
  padding: 15px;
  overflow-y: auto;
}

.fab {
  position: absolute;
  top: 80px;
  bottom: auto;
  right: 130px;
  padding-top: 8px;
}

@media all and (max-width:1280px) {

  #layout > #drawerButton {
    display:block;
    position:absolute;
    top:30px;
    left:15px;
  }

  #layout > #drawer {
    position: absolute;
    left: -300px;
    background-color: #000;
    border-right: solid 1px #CCC;
  }

  #drawer.open {
    z-index: 1001;
    left: 0px !important
  }

  #overlay.open {
    z-index: 1000;
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);
  }

  #toolbar {
    display:none;
    position: absolute;
    right: -150px;
  }

  .fab {
    position: absolute;
    top: auto;
    bottom: 16px;
    right: 30px;
    padding-top: 8px;
  }
}
